In [1]:
from lib import vups

In [2]:
import pandas as pd

In [3]:
cidade='AFONSO CLAUDIO'
tipo= 'NOVOS CASOS'
mes_analise= 2
ano_analise= 2021

In [4]:
# --------- BUSCANDO DF ---------
df = vups.datasets.microdados(nrows=100000)

In [5]:

# --------- FILTRANDO DF PARA CIDADES DO ES ---------
filtro_es = ['AGUIA BRANCA', 'ALTO RIO NOVO', 'ARACRUZ', 'BAIXO GUANDU',
    'COLATINA', 'GOVERNADOR LINDENBERG', 'IBIRACU', 'JOAO NEIVA',
    'LINHARES', 'MANTENOPOLIS', 'MARILANDIA', 'PANCAS', 'RIO BANANAL',
    'SAO DOMINGOS DO NORTE', 'SAO GABRIEL DA PALHA',
    'SAO ROQUE DO CANAA', 'SOORETAMA', 'VILA VALERIO',
    'AFONSO CLAUDIO', 'BREJETUBA', 'CARIACICA', 'CONCEICAO DO CASTELO',
    'DOMINGOS MARTINS', 'FUNDAO', 'GUARAPARI', 'IBATIBA', 'ITAGUACU',
    'ITARANA', 'LARANJA DA TERRA', 'MARECHAL FLORIANO',
    'SANTA LEOPOLDINA', 'SANTA MARIA DE JETIBA', 'SANTA TERESA',
    'SERRA', 'VENDA NOVA DO IMIGRANTE', 'VIANA', 'VILA VELHA',
    'VITORIA', 'AGUA DOCE DO NORTE', 'BARRA DE SAO FRANCISCO',
    'BOA ESPERANCA', 'CONCEICAO DA BARRA', 'ECOPORANGA', 'JAGUARE',
    'MONTANHA', 'MUCURICI', 'NOVA VENECIA', 'PEDRO CANARIO',
    'PINHEIROS', 'PONTO BELO', 'SAO MATEUS', 'VILA PAVAO', 'ALEGRE',
    'ALFREDO CHAVES', 'ANCHIETA', 'APIACA', 'ATILIO VIVACQUA',
    'BOM JESUS DO NORTE', 'CACHOEIRO DE ITAPEMIRIM', 'CASTELO',
    'DIVINO DE SAO LOURENCO', 'DORES DO RIO PRETO', 'GUACUI',
    'IBITIRAMA', 'ICONHA', 'IRUPI', 'ITAPEMIRIM', 'IUNA',
    'JERONIMO MONTEIRO', 'MARATAIZES', 'MIMOSO DO SUL', 'MUNIZ FREIRE',
    'MUQUI', 'PIUMA', 'PRESIDENTE KENNEDY', 'RIO NOVO DO SUL',
    'SAO JOSE DO CALCADO', 'VARGEM ALTA']
df = df[df.Municipio.isin(filtro_es)]

In [6]:

# --------- CRIANDO DF_CALENDAR_NEW (CASOS NOVOS) E DF_CALENDAR_CLOSED (CASOS FECHADOS) ---------
#df_calendar_new -> filtrar pacientes com covid confirmados; groupby(Municipio, DataDiagnostico); contar ocorrencias

df_calendar_new = df[df['Classificacao']=='Confirmados'].groupby(['Municipio','DataDiagnostico'])['DataCadastro'].size().reset_index(name='count_new')
df_calendar_new.head()

         Municipio DataDiagnostico  count_new
0  ABADIA DE GOIAS      2019-12-25          0
1  ABADIA DE GOIAS      2020-05-21          0
2  ABADIA DE GOIAS      2020-06-05          0
3  ABADIA DE GOIAS      2020-06-24          0
4  ABADIA DE GOIAS      2020-06-26          0

In [7]:
#renomeando coluna DataDiagnostico
df_calendar_new.rename(columns={'DataDiagnostico': 'date'}, inplace=True)
df_calendar_new.head()

         Municipio       date  count_new
0  ABADIA DE GOIAS 2019-12-25          0
1  ABADIA DE GOIAS 2020-05-21          0
2  ABADIA DE GOIAS 2020-06-05          0
3  ABADIA DE GOIAS 2020-06-24          0
4  ABADIA DE GOIAS 2020-06-26          0

In [8]:
#df_calendar_closed -> filtrar passientes com covid confirmados; groupby(Municipio, DataEncerramento); contar ocorrencias
df_calendar_closed = df[df['Classificacao']=='Confirmados'].groupby(['Municipio','DataEncerramento'])['DataCadastro'].size().reset_index(name='count_closed')
df_calendar_closed.head()

         Municipio DataEncerramento  count_closed
0  ABADIA DE GOIAS       0202-11-23             0
1  ABADIA DE GOIAS       2020-06-08             0
2  ABADIA DE GOIAS       2020-06-15             0
3  ABADIA DE GOIAS       2020-06-22             0
4  ABADIA DE GOIAS       2020-07-02             0

In [9]:

#--- ATENCAO!!! --- DataEncerramento NAO esta sendo transformada automaticamente, por isso vamos forçar essa transformação aqui
#após corrigido, retirar esse pedaço de código
#transformando DataEncerramento em datatype
#df_calendar_closed['DataEncerramento'] = pd.to_datetime(df_calendar_closed['DataEncerramento'], format='%Y-%m-%d')

In [10]:
df_calendar_closed.head()

         Municipio DataEncerramento  count_closed
0  ABADIA DE GOIAS       0202-11-23             0
1  ABADIA DE GOIAS       2020-06-08             0
2  ABADIA DE GOIAS       2020-06-15             0
3  ABADIA DE GOIAS       2020-06-22             0
4  ABADIA DE GOIAS       2020-07-02             0

In [11]:
#transformando valores de casos fechados em negativo
df_calendar_closed['count_closed'] = df_calendar_closed['count_closed']*-1

In [12]:
df_calendar_closed.head()

         Municipio DataEncerramento  count_closed
0  ABADIA DE GOIAS       0202-11-23             0
1  ABADIA DE GOIAS       2020-06-08             0
2  ABADIA DE GOIAS       2020-06-15             0
3  ABADIA DE GOIAS       2020-06-22             0
4  ABADIA DE GOIAS       2020-07-02             0

In [13]:
#renomendo coluna DataEncerramento
df_calendar_closed.rename(columns={'DataEncerramento': 'date'}, inplace=True)

In [14]:
df_calendar_closed.head()

         Municipio        date  count_closed
0  ABADIA DE GOIAS  0202-11-23             0
1  ABADIA DE GOIAS  2020-06-08             0
2  ABADIA DE GOIAS  2020-06-15             0
3  ABADIA DE GOIAS  2020-06-22             0
4  ABADIA DE GOIAS  2020-07-02             0

In [15]:
df_calendar_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64014 entries, 0 to 64013
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Municipio  64014 non-null  category
 1   date       64014 non-null  datetime64[ns]
 2   count_new  64014 non-null  int64
dtypes: category(1), datetime64[ns](1), int64(1)
memory usage: 1.1 MB

In [16]:
df_calendar_closed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67192 entries, 0 to 67191
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Municipio     67192 non-null  category
 1   date          67192 non-null  category
 2   count_closed  67192 non-null  int64
dtypes: category(2), int64(1)
memory usage: 812.5 KB

In [17]:
df_calendar_closed['date'] = df_calendar_closed['date'].astype('datetime64[ns]')

In [18]:
# --------- MERGE ENTRE OS DOIS DFs CRIADOS ---------
df_calendar = pd.merge(
    df_calendar_new, 
    df_calendar_closed, 
    how ='outer', 
    left_on  = ['Municipio', 'date'], 
    right_on = ['Municipio', 'date'])

In [19]:

# --------- TRABLHANDO O NOVO DF ---------
#organizando por cidade/data
df_calendar = df_calendar.sort_values(["Municipio", "date"]).reset_index()

In [20]:
df_calendar.head()

,index,Municipio,date,count_new,count_closed
0,64014,ABADIA DE GOIAS,1956-07-21 22:43:41.128654848,NaN,0.00
1,0,ABADIA DE GOIAS,2019-12-25 00:00:00.000000000,0.00,NaN
2,1,ABADIA DE GOIAS,2020-05-21 00:00:00.000000000,0.00,NaN
3,2,ABADIA DE GOIAS,2020-06-05 00:00:00.000000000,0.00,NaN
4,64015,ABADIA DE GOIAS,2020-06-08 00:00:00.000000000,NaN,0.00

In [21]:
#preenchendo Nan com zero(0)
for i in ['count_new', 'count_closed']:
    df_calendar[i] = df_calendar[i].fillna(0)

In [22]:
df_calendar.head()

,index,Municipio,date,count_new,count_closed
0,64014,ABADIA DE GOIAS,1956-07-21 22:43:41.128654848,0.00,0.00
1,0,ABADIA DE GOIAS,2019-12-25 00:00:00.000000000,0.00,0.00
2,1,ABADIA DE GOIAS,2020-05-21 00:00:00.000000000,0.00,0.00
3,2,ABADIA DE GOIAS,2020-06-05 00:00:00.000000000,0.00,0.00
4,64015,ABADIA DE GOIAS,2020-06-08 00:00:00.000000000,0.00,0.00

In [23]:
#criando coluna acumulado por cidade
municipios = df_calendar['Municipio'].unique()
acum = []
for idx, i in enumerate(df_calendar['date']):
    if df_calendar['Municipio'].iloc[idx] == df_calendar['Municipio'].iloc[idx-1]:
        try:
            acum.append(acum[idx-1] + df_calendar['count_new'].iloc[idx] + df_calendar['count_closed'].iloc[idx])
        except:
            acum.append(df_calendar['count_new'].iloc[idx] + df_calendar['count_closed'].iloc[idx])
    else:
        acum.append(0 + df_calendar['count_new'].iloc[idx] + df_calendar['count_closed'].iloc[idx])

df_calendar['acum'] = acum

In [24]:
df_calendar.head()

,index,Municipio,date,count_new,count_closed,acum
0,64014,ABADIA DE GOIAS,1956-07-21 22:43:41.128654848,0.00,0.00,0.00
1,0,ABADIA DE GOIAS,2019-12-25 00:00:00.000000000,0.00,0.00,0.00
2,1,ABADIA DE GOIAS,2020-05-21 00:00:00.000000000,0.00,0.00,0.00
3,2,ABADIA DE GOIAS,2020-06-05 00:00:00.000000000,0.00,0.00,0.00
4,64015,ABADIA DE GOIAS,2020-06-08 00:00:00.000000000,0.00,0.00,0.00

In [25]:
#criando colunas de dia/semana/dia_da_semana/mes/ano
df_calendar['day'] = [i.day for i in df_calendar['date']]
df_calendar['week'] = [i.week for i in df_calendar['date']]
df_calendar['weekday'] = [i.weekday() for i in df_calendar['date']]
df_calendar['month'] = [i.month for i in df_calendar['date']]
df_calendar['year'] = [i.year for i in df_calendar['date']]

In [26]:
df_calendar[df_calendar['month']==2]

,index,Municipio,date,count_new,count_closed,acum,day,week,weekday,month,year
96,64050,ABADIA DE GOIAS,2021-02-03,0.00,0.00,0.00,3,5,2,2,2021
97,64051,ABADIA DE GOIAS,2021-02-04,0.00,0.00,0.00,4,5,3,2,2021
98,64052,ABADIA DE GOIAS,2021-02-07,0.00,0.00,0.00,7,5,6,2,2021
99,64053,ABADIA DE GOIAS,2021-02-10,0.00,0.00,0.00,10,6,2,2,2021
100,64054,ABADIA DE GOIAS,2021-02-11,0.00,0.00,0.00,11,6,3,2,2021
...,...,...,...,...,...,...,...,...,...,...,...
91156,91236,WANDERLANDIA,2021-02-18,0.00,0.00,0.00,18,7,3,2,2021
91157,91237,WANDERLANDIA,2021-02-20,0.00,0.00,0.00,20,7,5,2,2021
91158,91238,WANDERLANDIA,2021-02-22,0.00,0.00,0.00,22,8,0,2,2021
91159,63934,WANDERLANDIA,2021-02-23,0.00,0.00,0.00,23,8,1,2,2021
91160,91239,WANDERLANDIA,2021-02-25,0.00,0.00,0.00,25,8,3,2,2021

In [27]:
# --------- CRIANDO LISTAS PARA PLOTAGEM DO CALENDÁRIO ---------
# variaveis para ajudar na manipulacao dos dados
# quantidade de dias no mes de análise
dias_28 = [2]
dias_31 = [1, 3, 5, 7, 8, 10, 12]
dias_30 = [4, 6, 9, 11]

if mes_analise in dias_28 and ano_analise != 2020:
    n_dias = 28
elif mes_analise in dias_30:
    n_dias = 30
elif mes_analise in dias_31:
    n_dias = 31
else:
    n_dias = 29

# NameError: name 'mes_analise' is not defined

In [28]:
cidade='VITORIA'
tipo= 'NOVOS CASOS'
mes_analise= 2
ano_analise= 2021

In [29]:
#aplicando filtros
if tipo == 'NOVOS CASOS':
    df_calendar_display = df_calendar[
        (df_calendar['Municipio'] == cidade) &
        (df_calendar['month'] == mes_analise) &
        (df_calendar['year'] == ano_analise)][['Municipio', 'date', 'day', 'week', 'weekday', 'month', 'year', 'count_new']].sort_values(by=['day']).reset_index().drop(columns=['index'])
else:
    df_calendar_display = df_calendar[
        (df_calendar['Municipio'] == cidade) &
        (df_calendar['month'] == mes_analise) &
        (df_calendar['year'] == ano_analise)][['Municipio', 'date', 'day', 'week', 'weekday', 'month', 'year', 'acum']].sort_values(by=['day']).reset_index().drop(columns=['index'])

In [30]:
df_calendar_display

   Municipio       date  day  week  weekday  month  year  count_new
0    VITORIA 2021-02-03    3     5        2      2  2021       0.00
1    VITORIA 2021-02-04    4     5        3      2  2021       0.00
2    VITORIA 2021-02-07    7     5        6      2  2021       0.00
3    VITORIA 2021-02-10   10     6        2      2  2021       0.00
4    VITORIA 2021-02-11   11     6        3      2  2021       0.00
5    VITORIA 2021-02-15   15     7        0      2  2021       0.00
6    VITORIA 2021-02-16   16     7        1      2  2021       0.00
7    VITORIA 2021-02-18   18     7        3      2  2021       0.00
8    VITORIA 2021-02-20   20     7        5      2  2021       0.00
9    VITORIA 2021-02-22   22     8        0      2  2021       0.00
10   VITORIA 2021-02-23   23     8        1      2  2021       1.00
11   VITORIA 2021-02-25   25     8        3      2  2021       0.00

In [31]:
from datetime import datetime

In [32]:
#criando listagem com a contagem de casos para cada dia do mes e as informações da semana do ano e dia da semana
#preenchendo com zero os dias em que nao tiveram registros
info_dia = []
for i in range(1, n_dias + 1):
    if i == df_calendar_display['day'].iloc[i - 1]:
        dia = i
        numero_casos = int(df_calendar_display.iloc[i-1,-1])
        semana_do_ano = df_calendar_display['week'].iloc[i-1]
        dia_da_semana = df_calendar_display['weekday'].iloc[i-1]
    else:
        dia = i
        numero_casos = 0
        semana_do_ano = int(datetime(ano_analise, mes_analise, i).strftime('%W')) + 1 #essa função faz uma conta diferente da que usamos para calcular a semana no dataframe (por isso o + 1)
        dia_da_semana = datetime(ano_analise, mes_analise, i).weekday()

    info_dia.append([dia, numero_casos, semana_do_ano, dia_da_semana])

    # IndexError: single positional indexer is out-of-bounds

IndexError: single positional indexer is out-of-bounds

In [76]:
df_calendar_display['day'].iloc[3]

24

In [ ]:
#separando essa lista em outras 4
dias, n_casos, semana, dia_semana = zip(*info_dia)

#criando lista com o numero de casos de cada dia do mes e separado em lista por semana
final_casos = []
parcial_casos = []
for i, week in enumerate(semana):
    if i == 0:
        parcial_casos.append(n_casos[i])
    elif i == n_dias - 1:
        parcial_casos.append(n_casos[i])
        final_casos.append(parcial_casos)
    else:
        if week == semana[i-1]:
            parcial_casos.append(n_casos[i])
        else:
            final_casos.append(parcial_casos)
            parcial_casos = []
            parcial_casos.append(n_casos[i])

#calculando o valor maximo da quantidade de casos para servir como ponto maximo da escala de cores
max_value = []
for i in range(len(final_casos)):
    max_value.append(max(final_casos[i]))

max_value = max(max_value)

#preenchendo valores relativos aos dias que completam as semanas com menos de 7 dias (inicio/final)
#o max_value serve para ajustar a cor (branco) que vai ser printado no heatmap para esses valores de preenchimento
while len(final_casos[0]) < 7:
    final_casos[0].insert(0, 0.001*max_value)

while len(final_casos[-1]) < 7:
    final_casos[-1].append(0.001*max_value)

#tranformando dias de int para str
dias = list(map(str, dias))

#preenchendo lista de acordo com o exigido para o plot (lista de listas para cada semana do mes)
final_dias = []
parcial_dias = []
contador = dia_semana[0] + 1

for i, dia in enumerate(dias):
    if i == len(dias) - 1:
        parcial_dias.append(dia)
        final_dias.append(parcial_dias)
    elif contador < 8:
        parcial_dias.append(dia)
        contador += 1
    else:
        final_dias.append(parcial_dias)
        parcial_dias = []
        parcial_dias.append(dia)
        contador = 2

#preenchendo as semanas que ficaram com menos de 7 dias com os dias do mes anterior e subsequente
if mes_analise in [1, 2, 4, 6, 8, 9, 11]:
    contador = 0
    while len(final_dias[0]) < 7:
        final_dias[0].insert(0, str(31-contador))
        contador += 1
    contador = 0
    while len(final_dias[-1]) < 7:
        final_dias[-1].append(str(contador+1))
        contador += 1
elif mes_analise == 3 and ano_analise != 2020:
    contador = 0
    while len(final_dias[0]) < 7:
        final_dias[0].insert(0, str(28-contador))
        contador += 1
    contador = 0
    while len(final_dias[-1]) < 7:
        final_dias[-1].append(str(contador+1))
        contador += 1
elif mes_analise == 3 and ano_analise == 2020:
    contador = 0
    while len(final_dias[0]) < 7:
        final_dias[0].insert(0, str(29-contador))
        contador += 1
    contador = 0
    while len(final_dias[-1]) < 7:
        final_dias[-1].append(str(contador+1))
        contador += 1
elif mes_analise in [5, 7, 10, 12]:
    contador = 0
    while len(final_dias[0]) < 7:
        final_dias[0].insert(0, str(30-contador))
        contador += 1
    contador = 0
    while len(final_dias[-1]) < 7:
        final_dias[-1].append(str(contador+1))
        contador += 1

#criando os labels das semanas
y_label = []
for i in range(len(final_dias)):
    y_label.append('Semana ' + str(i+1))

# --------- CALENDAR HEATMAP PLOT ---------

#plot do heatmap estilo calendario (com a quantida de casos por dia)

import plotly.figure_factory as ff

z = final_casos[::-1]

x = ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado', 'Domingo']
y = y_label[::-1]

z_text = final_dias[::-1]

fig1 = ff.create_annotated_heatmap(z,
                                    x=x,
                                    y=y,
                                    annotation_text=z_text,
                                    colorscale=[[0.0, 'rgb(235, 236, 240)'], #255,245,240
                                                [0.01, 'rgb(255,255,255)'],
                                                [0.11, 'rgb(255,245,240)'],
                                                [0.2, 'rgb(252,201,180)'],
                                                [0.4, 'rgb(251,136,104)'],
                                                [0.6, 'rgb(242,67,49)'],
                                                [0.8, 'rgb(187,19,25)'],
                                                [1.0, 'rgb(115,2,23)']],
                                    showscale=True)

#titulo plot
meses = ['Janeiro', 'Feveireiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
mes_plot = meses[mes_analise - 1]
if tipo == 'NOVOS CASOS':
    fig1.update_layout(title_text= 'Casos Novos por dia - ' +
                        cidade.title() + ' - ' +
                        mes_plot + ' ' +
                        str(ano_analise), title_x=0.5)
else:
    fig1.update_layout(title_text= 'Casos Acumulados - ' +
                        cidade.title() + ' - ' +
                        mes_plot + ' ' +
                        str(ano_analise), title_x=0.5)

return fig1